body{
  margin: 0px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 200%;
  color: #40514E;
}
h1{
  color: #1C6DD0;
  font-size: 5.62rem;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;

}
h2{
  color: #1C6DD0;
  font-size: 2.5rem;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;

}
h3{
  color: #1C6DD0;
  font-size: 1.7rem;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
p{
  font-size: 1.0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
hr{
  width: 5%;
  margin-top: 30px;
  margin-bottom: 0px;
  border-style: none;
  border-bottom-style: dotted;
  border-color: #4FBDBA;
  border-width: 5px;
}
.imageMountain{
  width: 50%;
  /* margin: 100px auto 100px auto; */
}
.top-container{
  position: relative;
  background-color: #ECFBFC;
  padding: 100px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.cloud1{
  position: absolute;
  top: 50px;
  right: 230px;
}
.cloud2{
  position: absolute;
  left: 250px;
  bottom: 250px;
}
.hello{
  background-color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.hello2{
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mySkills{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.6;
}
.myHobbies{
  width: 50%;
  margin: auto auto 200px auto;
  text-align: left;
  line-height: 1.6;
}
.myImageInf{
  width: 50%;
}
.myImage{
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 5px;
  width: 200px;
  height: 200px;
}
.proImage{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sportsImage{
  width: 30%;
  float: right;
  margin-left: 30px;

}
.hobbiesPosition{
  padding-top: 40px;
}
.mySkillsHeading{
  text-align: center;
  margin: 0px auto 40px auto;
}
.helloHeading{
  margin: 40px auto 25px auto;
}
.helloParagraph{
  margin: auto auto 80px auto;
}
.getInTouch{
  margin: 80px auto 20px auto;
  color: #541212;
  padding-top: 30px;
}
.copyrightMassage{
  background-color: black;
  color: white;
  width: 100%;
  height: 35px;
  padding-top: 17.5px;
}
.myInformat{
  background-color: #262626;
  color: white;
  width: 100%;
  height: 130px;
  padding-top: 20px;
  line-height: 0.7;
  padding-bottom: 20px;
}
.myInformationText{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.text:hover{
  color: #086E7D;
}
.contactMe{
  padding-top: 20px;
  padding-bottom: 20px;
}
.massage{
  background-color: #1572A1;
  color: #541212;
  width: 100%;
  height: 130px;
  padding-bottom: 50px;
}
@media (max-width: 490px) and (min-width: 320px){
  .top-container {
    background: black;
  }
  .mySkills{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .proImage {
    float: none;
    margin: 0;
    display: block;
  }
}

